# To enable auto-completion and validation for this file in VSCode, install the RedHat YAML extension
# https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml

# yaml-language-server: $schema=https://raw.githubusercontent.com/dbos-inc/dbos-sdk/main/dbos-config.schema.json

database:
  hostname: 'localhost'
  port: 5432
  username: 'postgres'
  password: ${PGPASSWORD}
  app_db_name: 'cloudsub'
  connectionTimeoutMillis: 3000
  app_db_client: 'knex'
  migrate:
    - npx knex migrate:latest
  rollback:
    - npx knex migrate:rollback
application:
  STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
  STRIPE_DBOS_PRO_PRICE: ${STRIPE_DBOS_PRO_PRICE}
  DBOS_DEPLOY_PASSWORD: ${DBOS_DEPLOY_PASSWORD}
  DBOS_AUTH0_CLIENT_SECRET: ${DBOS_AUTH0_CLIENT_SECRET}
env:
  DBOS_DOMAIN: ${DBOS_DOMAIN}
  STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
http:
  cors_middleware: true
  credentials: true
  allowed_origins:
    - 'https://dbos.webflow.io'
    - 'https://www.dbos.dev'
    - 'https://dbos.dev'
