# To enable auto-completion and validation for this file in VSCode, install the RedHat YAML extension
# https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml

# yaml-language-server: $schema=https://raw.githubusercontent.com/dbos-inc/dbos-sdk/main/dbos-config.schema.json

database:
  hostname: 'localhost'
  port: 5432
  username: 'postgres'
  password: ${PGPASSWORD}
  app_db_name: 'cloud_account'
  connectionTimeoutMillis: 3000
  app_db_client: 'knex'
  migrate:
    - npx knex migrate:latest
  rollback:
    - npx knex migrate:rollback
runtimeConfig:
  entrypoints:
    - "dist/endpoints.js"
    - "dist/subscription.js"
http:
  cors_middleware: true
  credentials: true
  allowed_origins:
    - 'https://dbos.webflow.io'
    - 'https://www.dbos.dev'
    - 'https://dbos.dev'
    - 'https://console.dbos.dev'
    - 'https://staging.console.dbos.dev'
    - 'http://localhost:3000'
    - 'http://localhost:4173'
    - 'http://localhost:5173'
telemetry:
  logs:
    logLevel: 'info'
