name: Deploy Subscription App to Prod

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        npm ci
        npm run build
        npm prune --omit=dev
        npm install @dbos-inc/dbos-cloud@latest
    - name: Deploy to prod
      run: python3 scripts/dbos_deploy.py
      env:
        DBOS_DOMAIN: cloud.dbos.dev
        DBOS_AUTH0_CLIENT_SECRET: ${{secrets.DBOS_AUTH0_PROD_CLIENT_SECRET}}
        DBOS_DEPLOY_PASSWORD: ${{secrets.DBOS_CLOUD_SUBSCRIPTION_PASSWORD}}
        DBOS_APP_DB_NAME: dbos_subscription
        STRIPE_SECRET_KEY: ${{secrets.STRIPE_PROD_SECRET_KEY}}
        STRIPE_WEBHOOK_SECRET: ${{secrets.STRIPE_PROD_WEBHOOK_SECRET}}
        STRIPE_DBOS_PRO_PRICE: ${{secrets.STRIPE_PROD_PRO_PRICE}}
        DBOS_TEST_PASSWORD: ${{secrets.DBOS_TEST_PASSWORD}}
