name: Deploy Subscription App to Staging

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        npm ci
        npm run build
        npm prune --omit=dev
        npm install @dbos-inc/dbos-cloud@latest
    - name: Deploy to staging
      run: bash scripts/dbos_deploy.sh
      env:
        DBOS_DOMAIN: staging.dev.dbos.dev
        DBOS_APP_DB_NAME: testsubscription
        STRIPE_SECRET_KEY: ${{secrets.STRIPE_TEST_SECRET_KEY}}
        STRIPE_WEBHOOK_SECRET: ${{secrets.STRIPE_TEST_WEBHOOK_SECRET}}
        STRIPE_DBOS_PRO_PRICE: ${{secrets.STRIPE_TEST_PRO_PRICE}}
        DBOS_DEPLOY_REFRESH_TOKEN: ${{secrets.DBOS_TEST_DEPLOY_REFRESH_TOKEN}}
        DBOS_TEST_REFRESH_TOKEN: ${{secrets.DBOS_TEST_TEST_REFRESH_TOKEN}}
        DBOS_DB_PASSWORD: ${{secrets.DBOS_TEST_DB_PASSWORD}}
