name: Test Subscription App on Staging

on:
  schedule:
    # Runs every six hours
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 22
      uses: actions/setup-node@v3
      with:
        node-version: 22
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        npm install @dbos-inc/dbos-cloud@preview
        pip install requests stripe
    - name: Test on staging
      run: python3 scripts/subscription_integration_test.py
      env:
        DBOS_DOMAIN: staging.dev.dbos.dev # Test user on staging
        DBOS_APP_NAME: staging
        STRIPE_SECRET_KEY: ${{secrets.STRIPE_TEST_SECRET_KEY}}
        STRIPE_WEBHOOK_SECRET: ${{secrets.STRIPE_TEST_WEBHOOK_SECRET}}
        STRIPE_DBOS_PRO_PRICE: ${{secrets.STRIPE_TEST_PRO_PRICE}}
        DBOS_TEST_REFRESH_TOKEN: ${{secrets.DBOS_TEST_TEST_REFRESH_TOKEN}}