name: Deploy Subscription App to Staging

on:
  pull_request:
    types:
      - ready_for_review
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        npm install @dbos-inc/dbos-cloud@latest
    - name: Test on staging
      run: python3 scripts/staging_test.py
      env:
        DBOS_DOMAIN: staging.dev.dbos.dev
        DBOS_AUTH0_CLIENT_SECRET: ${{secrets.DBOS_AUTH0_TEST_CLIENT_SECRET}}
        DBOS_DEPLOY_PASSWORD: ${{secrets.DBOS_CLOUD_SUBSCRIPTION_PASSWORD}}
        DBOS_APP_DB_NAME: testsubscription
        STRIPE_SECRET_KEY: ${{secrets.STRIPE_TEST_SECRET_KEY}}
        STRIPE_WEBHOOK_SECRET: ${{secrets.STRIPE_TEST_WEBHOOK_SECRET}}
        STRIPE_DBOS_PRO_PRICE: ${{secrets.STRIPE_TEST_PRO_PRICE}}
        DBOS_TEST_PASSWORD: ${{secrets.DBOS_TEST_PASSWORD}}
