name: Test Subscription App on Staging

on:
  schedule:
    # Runs every six hours
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        npm install @dbos-inc/dbos-cloud@preview
    - name: Test on staging
      run: python3 scripts/staging_test.py
      env:
        DBOS_DOMAIN: staging.dev.dbos.dev
        DBOS_APP_DB_NAME: testsubscription
        STRIPE_SECRET_KEY: ${{secrets.STRIPE_TEST_SECRET_KEY}}
        STRIPE_WEBHOOK_SECRET: ${{secrets.STRIPE_TEST_WEBHOOK_SECRET}}
        STRIPE_DBOS_PRO_PRICE: ${{secrets.STRIPE_TEST_PRO_PRICE}}
        DBOS_DEPLOY_REFRESH_TOKEN: ${{secrets.DBOS_TEST_DEPLOY_REFRESH_TOKEN}}
        DBOS_TEST_REFRESH_TOKEN: ${{secrets.DBOS_TEST_TEST_REFRESH_TOKEN}}