name: Run unit tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    types:
      - ready_for_review
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    # Service container for Postgres
    services:
      # Label used to access the service container.
      postgres:
        image: postgres:16
        env:
          # Specify the password for Postgres superuser.
          POSTGRES_PASSWORD: dbos
        # Set health checks to wait until postgres has started
        options: >-
          --name postgres
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    steps:
      - name: Checkout app
        uses: actions/checkout@v4
      - name: Use Node.js 22
        uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Compile and test
        run: |
          npm ci
          npm run build
          npm run lint
          npm run test
        env:
          PGPASSWORD: dbos
          APP_DBOS_DOMAIN: staging.dev.dbos.dev
          DBOS_LOGIN_REFRESH_TOKEN: ${{secrets.DBOS_TEST_DEPLOY_REFRESH_TOKEN}}
