name: Test Subscription App on Prod

on:
  schedule:
    # Runs every twelve hours
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20
      uses: actions/setup-node@v3
      with:
        node-version: 20
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        npm install @dbos-inc/dbos-cloud@preview
        pip install requests stripe
    - name: Test on prod
      run: python3 scripts/subscription_integration_test.py
      env:
        DBOS_DOMAIN: cloud.dbos.dev
        DBOS_APP_NAME: dbos
        STRIPE_SECRET_KEY: ${{secrets.STRIPE_PROD_SECRET_KEY}}
        STRIPE_WEBHOOK_SECRET: ${{secrets.STRIPE_PROD_WEBHOOK_SECRET}}
        STRIPE_DBOS_PRO_PRICE: ${{secrets.STRIPE_PROD_PRO_PRICE}}
        DBOS_TEST_REFRESH_TOKEN: ${{secrets.DBOS_PROD_TEST_REFRESH_TOKEN}}